* {
    font-family: JetBrainsMono Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #E7EAEE;
}

.modules-left,
.modules-center,
.modules-right {
    background: rgba(23, 27, 32, 0.92);
    border-radius: 6px;
    padding: 5px 14px;
}

#workspaces button {
    color: #474E5C;
    padding: 0 5px;
    background: none;
    font-size: 9px;
    min-width: 0;
}

#workspaces button.empty {
    color: #2C313A;
}

#workspaces button.focused {
    color: #E7EAEE;
}

#workspaces button.urgent {
    color: #F73F64;
}

#clock,
#battery,
#network,
#bluetooth,
#pulseaudio,
#tray {
    padding: 0 8px;
    color: #E7EAEE;
}

#battery.charging {
    color: #38FFA5;
}

#battery.warning:not(.charging) {
    color: #F73F64;
}
